<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" type="text/css" href="/style/Register.css">
		<script type="text/javascript" src="register.js"></script>
	</head>
	<body>
		<div class="registerForm">
			<form action="/" method = "post">
				<input type="text" name="fnameJ" id="fname" placeholder="First Name" required>
				<input type="text" name="lnameJ" id="lname" placeholder="Last Name" required><br>
				<input type="text" name="emailJ" id="email" placeholder="Email Id" required><br>
				<input type="password" name="passwordJ" id="password" placeholder="Password" required><br>
				<input type="radio" name="genderJ" id="gender" value="male"> Male
				<input type="radio" name="genderJ" value="female"> Female<br>
				<button type="submit" id="button1" value="Register">Register</button>
			</form>
		</div>
	</body>
</html>